<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="analogClock.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://p7.hiclipart.com/preview/755/943/641/clock-face-analog-signal-analog-watch-digital-clock-time-is-profit.jpg"/>
    <title>Analog Clock Predictor</title>
</head>
<body>
    <div class="wrapper">
        <div>
            <!--Image Upload section-->
            <section class="file">
                <form action="#" method="post">
                    <!--Image Upload from Web-->
                    <label for="url">Enter Image URL:</label>
                    <input type="url" name="textline" placeholder="E.g. http://www.example.com/example.jpg">
                    <!--Image Upload from Local-->
                    <label for="fileUpload">Upload from local</label>
                    <input type="file" name="datafile" size="40">
                    <!--Submit POST request to backend-->
                    <div>
                        <input type="submit" value="Upload" id="buttonImageUpload" class="submitButton">
                    </div>
                </form>
            </section>
        </div>
        <section class="container">
            <!--Display the image after POST request-->
            <div class="showcase">
                <!--Need to change the href value to the image uploaded by the user-->
                <a href="#" class="img"></a>
            </div>
            <!--Display the Time-->
            <div class="time-box">
                <h2>Time</h2>
                <p class="predictedTime">10:09</p>
                <!--Submit button to display time-->
                <input type="submit" value="Get Time" id="buttonGetTime" class="submitButton">
            </div>
        </section>
          <footer>
              <p>pravega-ai &copy; 2020</p>
          </footer>
    </div>
    
    <!--    Proof of Concept. Needs proper design -->
    <script>
        const buttonImageUpload = document.getElementById("buttonImageUpload");
        const fileField = document.getElementById('inputImageUpload');
        const textClockTime = document.getElementById('textClockTime');

        buttonImageUpload.addEventListener('click', () => {
            // https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch#Uploading_a_file
            const formData = new FormData()
            formData.append('clock_image', fileField.files[0])
            
            fetch("/api/upload-clock", {
                method: "POST",
                body: formData
            })
            .then(res => res.json())
            .then(json => {
                console.log(`Recieved: ${json.hours} : ${json.minutes}`);
                textClockTime.appendChild(
                    document.createTextNode(
                        `${json.hours} : ${json.minutes}`
                    )
                )
            })
        })
    </script>
</body>

</html>