/* Can't have global CSS */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }

  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }

  body {
    background: rgb(136, 124, 124);
    margin: 30px 50px;
    line-height: 1.4;
    background-image: url(https://i.pinimg.com/originals/58/bd/82/58bd827dc0715589a5a86872feb66eae.jpg);
    background-size: cover;
  }

  .submitButton {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: 0;
    width: 100%;
    cursor: pointer;
    width: max-content;
  }

  .img {
    max-width: 100%;
  }

  .wrapper {
    display: grid;
    grid-gap: 20px;
  }

  .time-box .predictedTime {
    font-size: xx-large;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submitButton:hover {
    background-color: #45a049;
  }

  .file {
    font-size: 1.5rem;
    margin-bottom: 0;
    border-radius: 4px;
    color: white;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    width: 100%;
    column-gap: 10px;
    min-height: 500px;
  }

  .showcase {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url(https://images.unsplash.com/photo-1563861826100-9cb868fdbe1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: 100% 100%;
    background-position: center;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
  }

  .time-box {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-auto-rows: auto;
    background: var(--primary);
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
  }

  footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 0.5rem;
    font-size: large;
  }